---
import { cn } from "../../lib/utils";
interface Props {
    orientation: "horizontal" | "vertical";
    class?: string;
}

const { class: className, orientation } = Astro.props;
---

<div
    class={cn(
        "shrink-0 bg-border",
        orientation === "horizontal"
            ? "h-[1px] w-full my-6"
            : "w-[1px] h-full mx-6",
        className,
    )}
>
</div>
